## Importing Library

In [1]:
import numpy as np
import pandas as pd
import matplotlib
import urllib
import os

In [2]:
## OS module in Python provides functions for interacting with the operating system.
###OS comes under Python’s standard utility modules. This module provides a portable way of using operating system
##dependent functionality.

## Import Dataset

In [3]:
#type1

url="https://covid19.who.int/WHO-COVID-19-global-data.csv"
file_path=os.path.join("data","covid19")

In [4]:
os.makedirs(file_path,exist_ok=True)
csv_path = os.path.join(file_path , "covid19.csv")
urllib.request.urlretrieve(url,csv_path)

('data\\covid19\\covid19.csv', <http.client.HTTPMessage at 0x25b2e6afb80>)

In [5]:
file=pd.read_csv(csv_path)

In [6]:
#type 2
dataset = pd.read_csv('covid.csv')

## Lets explore the dataset

In [9]:
file.head(7)

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0
5,2020-01-08,AF,Afghanistan,EMRO,0,0,0,0
6,2020-01-09,AF,Afghanistan,EMRO,0,0,0,0

In [10]:
file.shape

(127743, 8)

In [11]:
df_index=file.index
df_cols=file.columns

In [12]:

df_cols

Index(['Date_reported', 'Country_code', 'Country', 'WHO_region', 'New_cases',
       'Cumulative_cases', 'New_deaths', 'Cumulative_deaths'],
      dtype='object')

In [13]:
df_index

RangeIndex(start=0, stop=127743, step=1)

In [14]:
file.values #Return a Numpy representation of the DataFrame.Only the values in the DataFrame will be returned, the axes labels will be removed.

array([['2020-01-03', 'AF', 'Afghanistan', ..., 0, 0, 0],
       ['2020-01-04', 'AF', 'Afghanistan', ..., 0, 0, 0],
       ['2020-01-05', 'AF', 'Afghanistan', ..., 0, 0, 0],
       ...,
       ['2021-06-22', 'ZW', 'Zimbabwe', ..., 42195, 13, 1685],
       ['2021-06-23', 'ZW', 'Zimbabwe', ..., 42714, 6, 1691],
       ['2021-06-24', 'ZW', 'Zimbabwe', ..., 43480, 1, 1692]],
      dtype=object)

In [15]:
file.ndim # Number of array dimensions.Return 1 if Series. Otherwise return 2 if DataFrame.

2

In [16]:
file.dtypes  ##checking the datatype

Date_reported        object
Country_code         object
Country              object
WHO_region           object
New_cases             int64
Cumulative_cases      int64
New_deaths            int64
Cumulative_deaths     int64
dtype: object

In [17]:
file.tail(5)

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
127738,2021-06-20,ZW,Zimbabwe,AFRO,293,41628,10,1666
127739,2021-06-21,ZW,Zimbabwe,AFRO,151,41779,6,1672
127740,2021-06-22,ZW,Zimbabwe,AFRO,416,42195,13,1685
127741,2021-06-23,ZW,Zimbabwe,AFRO,519,42714,6,1691
127742,2021-06-24,ZW,Zimbabwe,AFRO,766,43480,1,1692

In [18]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127743 entries, 0 to 127742
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Date_reported      127743 non-null  object
 1   Country_code       127204 non-null  object
 2   Country            127743 non-null  object
 3   WHO_region         127743 non-null  object
 4   New_cases          127743 non-null  int64
 5   Cumulative_cases   127743 non-null  int64
 6   New_deaths         127743 non-null  int64
 7   Cumulative_deaths  127743 non-null  int64
dtypes: int64(4), object(4)
memory usage: 7.8+ MB

In [21]:
file.describe()

           New_cases  Cumulative_cases     New_deaths  Cumulative_deaths
count  127743.000000      1.277430e+05  127743.000000      127743.000000
mean     1403.143296      2.396624e+05      30.449598        5805.603571
std      9573.613286      1.508068e+06     171.125374       30519.675821
min    -32952.000000      0.000000e+00     -60.000000           0.000000
25%         0.000000      2.000000e+01       0.000000           0.000000
50%         7.000000      2.464000e+03       0.000000          42.000000
75%       294.000000      4.792050e+04       4.000000         787.000000
max    414188.000000      3.324353e+07    6508.000000      597372.000000

### Let's check the name of the countries

In [23]:
file['Country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia (Plurinational State of)', 'Bonaire',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Cayman Islands', 'Central African Republic', 'Chad',
       'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', 'Côte d’Ivoire', 'Croatia', 'Cuba', 'Curaçao',
       'Cyprus', 'Czechia', "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Falkland Islands (Malvinas)',
       'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Guiana',
       'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Holy See', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Isle of Man',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo[1]', 'Kuwait',
       'Kyrgyzstan', "Lao People's Democratic Republic", 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia',
       'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Martinique',
       'Mauritania', 'Mauritius', 'Mayotte', 'Mexico',
       'Micronesia (Federated States of)', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'North Macedonia',
       'Northern Mariana Islands (Commonwealth of the)', 'Norway',
       'occupied Palestinian territory, including east Jerusalem', 'Oman',
       'Other', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Pitcairn Islands', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Republic of Korea',
       'Republic of Moldova', 'Réunion', 'Romania', 'Russian Federation',
       'Rwanda', 'Saba', 'Saint Barthélemy', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Martin',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Eustatius', 'Sint Maarten', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Thailand',
       'The United Kingdom', 'Timor-Leste', 'Togo', 'Tokelau', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Republic of Tanzania',
       'United States of America', 'United States Virgin Islands',
       'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam',
       'Wallis and Futuna', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [27]:
df_columns= [col.strip() for col in file.columns]

#### The strip() method removes any leading (spaces at the beginning) and trailing (spaces at the end) characters (space is the default leading character to remove)

In [28]:
df_columns

['Date_reported',
 'Country_code',
 'Country',
 'WHO_region',
 'New_cases',
 'Cumulative_cases',
 'New_deaths',
 'Cumulative_deaths']

In [29]:
file.loc[1:8 , ['Country', 'New_cases']]

       Country  New_cases
1  Afghanistan          0
2  Afghanistan          0
3  Afghanistan          0
4  Afghanistan          0
5  Afghanistan          0
6  Afghanistan          0
7  Afghanistan          0
8  Afghanistan          0

In [31]:
Bangladesh=file[file['Country']== 'Bangladesh']

In [33]:
Bangladesh.head(10)

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
8624,2020-01-03,BD,Bangladesh,SEARO,0,0,0,0
8625,2020-01-04,BD,Bangladesh,SEARO,0,0,0,0
8626,2020-01-05,BD,Bangladesh,SEARO,0,0,0,0
8627,2020-01-06,BD,Bangladesh,SEARO,0,0,0,0
8628,2020-01-07,BD,Bangladesh,SEARO,0,0,0,0
8629,2020-01-08,BD,Bangladesh,SEARO,0,0,0,0
8630,2020-01-09,BD,Bangladesh,SEARO,0,0,0,0
8631,2020-01-10,BD,Bangladesh,SEARO,0,0,0,0
8632,2020-01-11,BD,Bangladesh,SEARO,0,0,0,0
8633,2020-01-12,BD,Bangladesh,SEARO,0,0,0,0

In [36]:
New_death_over_100=file.loc[file.New_deaths > 1000 ,['New_cases' , 'Country']]

In [37]:
New_death_over_100

        New_cases                           Country
4586        14001                         Argentina
13185         528  Bolivia (Plurinational State of)
15231       17408                            Brazil
15233       18508                            Brazil
15234       20803                            Brazil
...           ...                               ...
122257      61405          United States of America
122262      65751          United States of America
122263      67796          United States of America
122264      71388          United States of America
122325      24462          United States of America

[635 rows x 2 columns]

In [40]:
file.loc[(file.New_deaths > 1000) & (file.Country == 'Brazil')]

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
15231,2020-05-21,BR,Brazil,AMRO,17408,271628,1179,17971
15233,2020-05-23,BR,Brazil,AMRO,18508,310087,1188,20047
15234,2020-05-24,BR,Brazil,AMRO,20803,330890,1001,21048
15238,2020-05-28,BR,Brazil,AMRO,16324,391222,1039,24512
15239,2020-05-29,BR,Brazil,AMRO,20599,411821,1086,25598
...,...,...,...,...,...,...,...,...
15625,2021-06-19,BR,Brazil,AMRO,74042,17702630,2311,496004
15626,2021-06-20,BR,Brazil,AMRO,98832,17801462,2495,498499
15627,2021-06-21,BR,Brazil,AMRO,82288,17883750,2301,500800
15628,2021-06-22,BR,Brazil,AMRO,44178,17927928,1025,501825
15630,2021-06-24,BR,Brazil,AMRO,87822,18054653,2131,504717

In [44]:
maximum=file.loc[file.New_deaths > 1000 ,['New_cases']].max()
minimum=file.loc[file.New_deaths > 1000 ,['New_cases']].min()
summation=file.loc[file.New_deaths > 1000 ,['New_cases']].sum()

In [46]:
maximum

New_cases    414188
dtype: int64

In [47]:
summation

New_cases    56553363
dtype: int64

In [48]:
minimum

New_cases   -8956
dtype: int64